@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --l-gray-violet: hsl(270, 3%, 87%);
  --d-gray-violet: hsl(279, 6%, 55%);
  --vd-gray-violet: hsl(278, 68%, 11%);
}

body {
  /* height: 100vh;
  min-height: 100vh; */
  font-family: "Space Grotesk", sans-serif;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.top {
  position: relative;
  z-index: 1;
}

picture {
  width: 100vw;
}

.card-container .ccard {
  position: absolute;
  width: 72.5%;
  /* z-index: 9997; */
}

.btn-continue {
  margin-top: 2rem;
  width: auto;
}

.card-container.front,
.card-container.back {
  position: relative;
}

.card-container.front {
  top: 0;
  right: -50px;
  z-index: 2;
}

#cvc,
#cardno,
#cardname,
#expdate,
.ccard-logo {
  display: block;
  position: absolute;
  color: var(--white);
  letter-spacing: 1.4px;
  opacity: 0;
  transition: all 300ms ease-out;
}

#cardname,
#expdate,
#cvc {
  font-size: 10px;
}

#cvc {
  top: -119px;
  right: 50px;
  z-index: 999999;
}

#cardno {
  top: -20px;
  left: 32px;
  z-index: 9999;
  font-size: 20px;
}

#cardname {
  top: 25px;
  z-index: 10000;
  left: 32px;
  text-transform: uppercase;
}

#expdate {
  top: 25px;
  left: 245px;
  z-index: 9999;
}

#card-front {
  top: -100px;
}

#card-back {
  top: -190px;
  right: 15px;
}

.ccard-logo {
  position: absolute;
  top: -75px;
  left: 32px;
  z-index: 9999;
  width: 50px;
}

#verified {
  width: 100px;
}

.content {
  margin-top: 6rem;
  padding: 0rem 1.25rem 2rem 1.25rem;
}

.form-div {
  margin-bottom: 1rem;
}

.form-div.bottom {
  display: grid;
  grid-template-columns: 125px 1fr;
  align-items: end;
  gap: 10px;
}

input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--l-gray-violet);
  width: 100%;
  color: #c0bebf;
}

/* Remove arrows on inputs with number type */

/* Chrome, Edge, IE, Safari etc */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

label {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--vd-gray-violet);
}

#input-xp,
#input-xp2 {
  width: 60px;
}

#input-xp::-webkit-outer-spin-button,
#input-xp2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.confirm-btn {
  width: 100%;
  padding: 1.25rem 2.5rem;
  background-color: var(--vd-gray-violet);
  border-radius: 5px;
  border: none;
  color: var(--white);
}

.hidden-confirmation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 400px;
  left: 80px;
  opacity: 0;
  transition: all 1s ease-out;
  transition-delay: 1s;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #190123;
  letter-spacing: 1.5px;
  font-size: 28px;
}

.description {
  color: var(--d-gray-violet);
  font-weight: 500;
  font-size: 18px;
}

form {
  transition: all 600ms ease-out;
}

/* ANIMATIONS */

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out both;
  animation: heartbeat 1.5s ease-in-out both;
}

.flip-scale-2-ver-right {
  -webkit-animation: flip-scale-2-ver-right 0.5s linear both;
  animation: flip-scale-2-ver-right 0.5s linear both;
}

.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-21 23:34:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-ver-right
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
    transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
    transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
    transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
    transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.text-shadow-drop-bottom {
  -webkit-animation: text-shadow-drop-bottom 0.6s both;
  animation: text-shadow-drop-bottom 0.6s both;
}

/**
 * ----------------------------------------
 * @animation text-shadow-drop-bottom
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 1);
  }
}
@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 1);
  }
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (min-width: 798px) {
  .top {
    grid-template-columns: 400px 1fr;
  }

  .content {
    z-index: 5000;
    padding-left: 20rem;
    padding-top: 9rem;
    /* max-width: 800px; */
  }

  #card-front,
  #card-back {
    width: 80%;
  }

  #card-front {
    top: -800px;
    left: 250px;
  }

  #card-back {
    top: -570px;
    left: 320px;
    z-index: 9999;
  }

  #cardname,
  #expdate {
    font-size: 14px;
  }

  #cardname {
    top: -620px;
    left: 280px;
  }

  #cardno {
    top: -680px;
    left: 280px;
    width: 100%;
    font-size: 28px;
  }

  #cvc {
    top: -470px;
    left: 630px;
    font-size: 14px;
  }

  #expdate {
    top: -620px;
    left: 570px;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 0.5fr 1fr;
  }

  .content {
    padding-left: 25rem;
    padding-top: 9rem;
    max-width: 800px;
    padding-bottom: 0;
  }

  input {
    padding: 0.5rem;
  }

  label {
    font-size: 12px;
  }

  /* Card Component */

  #card-front,
  #card-back {
    width: 70%;
  }

  /* Card Component - Front Card */

  #card-front {
    /* position: relative; */
    top: -800px;
    left: 290px;
  }

  /* Card Component - Back Card */

  #card-back {
    top: -580px;
    left: 390px;
    z-index: 9999;
  }

  /* Card Component - Card Holder */

  #cardname {
    top: -650px;
    left: 320px;
  }

  /* Card Component - Card Number */

  #cardno {
    top: -700px;
    left: 320px;
    width: 100%;
    font-size: 22px;
    letter-spacing: 2.5px;
  }

  /* Card Component - Security Code */

  #cvc {
    top: -495px;
    left: 650px;
    font-size: 14px;
  }

  /* Card Component - Expiry Date */

  #expdate {
    top: -650px;
    left: 570px;
  }

  /* Card Component - Logo */

  .ccard-logo {
    top: -950px;
    left: 320px;
    width: 75px;
  }

  .confirm-btn {
    padding: 0.7rem 1.5rem;
  }

  .hidden-confirmation {
    text-align: center;
    top: 300px;
    right: -500px;
  }

  .description {
    font-size: 16px;
  }

  .btn-continue {
    margin-top: 2rem;
    width: 400px;
  }

  /* form {
    display: none;
  } */
}
