@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --gray-blue: hsl(217, 19%, 38%);
  --d-gray-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --def-white: #fff;
  --def-black: #000;
}

@keyframes anim-glow {
  0% {
    box-shadow: 0px 0px 0px 0px hsla(150, 100%, 66%, 0);
  }
  100% {
    box-shadow: 0px 0px 29px 1px hsl(150, 100%, 66%);
  }
}

@keyframes anim-glow-err {
  0% {
    box-shadow: 0px 0px 0px 0px hsla(150, 100%, 66%, 0);
  }
  100% {
    box-shadow: 0px 0px 29px 1px hsl(12, 98%, 44%);
  }
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;
  height: 100vh;
  display: grid;
  place-content: center;
}

.wrapper {
  margin: 1rem;
  background-color: hsla(216, 19%, 38%, 0.534);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.advice-no {
  color: var(--neon-green);
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.advice-text {
  color: var(--def-white);
  font-size: 28px;
}

.content {
  margin-bottom: 1rem;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.interaction {
  position: absolute;
  bottom: -30px;
  background-color: var(--neon-green);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.interaction.anim-glow-default {
  animation: anim-glow 1s infinite forwards;
}

.interaction.interaction.anim-glow-error {
  animation: anim-glow-err 1s infinite forwards;
}

.interaction:hover {
  box-shadow: 0px 0px 29px 1px hsl(150, 100%, 66%);
}

.interaction:active {
  box-shadow: 0px 0px 29px 8px hsl(150, 100%, 66%);
}

.interaction img {
  width: 25px;
}
